v0.2.0

## Release Plan - v0.2.0

The primary goal of this release is to implement claim checks as described in [RFC 7519 section 4](https://datatracker.ietf.org/doc/html/rfc7519#section-4) and add supported algorithms.

### Tasks

- [ ] Implement RS256 algorithm
- [ ] Implement ES256 algorithm

From the RFC:
> It is RECOMMENDED that implementations also support RSASSA-PKCS1-v1_5 with the SHA-256 hash algorithm ("RS256") and ECDSA using the P-256 curve and the SHA-256 hash algorithm ("ES256").

Because of that I'll include these in the release plan.